* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-size-adjust: none;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-moz-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: var(--RopaSPR);
	font-size: 16px;
	overflow: hidden;
	overflow-y: auto;
}

input {
	border: none;
	outline: none;
	border-radius: 0;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;

	&::-ms-clear,
	&::-ms-reveal {
		display: none;
	}

	&:focus {
		outline: none;
	}

	&::placeholder {
		font-family: inherit;
		color: inherit;
	}
}

button {
	border: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;

	&::-moz-focus-inner {
		border: 0; /*снимает border при фокусе табами*/
	}

	&:focus {
		outline: none;
	}
}

textarea {
	border: none;
	outline: none;
	border-radius: 0;
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;
	overflow: auto; /* for ie, remove scrollbar*/

	&:focus {
		outline: none;
	}

	&::placeholder {
		font-family: inherit;
		color: inherit;
	}
}

input[type='number'] {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;
	margin: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-ms-clear {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-appearance: none;
	display: none;
}

a {
	font-size: inherit;
	color: inherit;
	text-decoration: none;

	&:focus,
	&:visited {
		outline: none;
	}
}

ul, ol {
	list-style: none;
}

.container {
	max-width: 1560px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
	/* border-left: 1px solid lightcoral; */
	/* border-right: 1px solid lightcoral; */

	@media (--super) {
		padding-right: 60px;
		padding-left: 60px;
	}
}

.main {
	position: relative;
	display: block;
	flex: 1 0 auto;
	z-index: 3;
}

.section {

	&__header {
		margin-bottom: 40px;
		border-top: 1px solid var(--pale-gray);
		border-bottom: 1px solid var(--pale-gray);

		@media (--laptop) {
			margin-bottom: 60px;
		}

		@media (--super) {
			margin-bottom: 100px;
		}
	}

	&__title {
		padding-top: 28px;
		padding-bottom: 28px;
		text-transform: uppercase;
		font: 24px/32px var(--RopaSPR);
		color: var(--dark-gray);

		@media (--tablet) {
			padding-top: 42px;
			padding-bottom: 42px;
			font-size: 26px;
			line-height: 36px;
		}
	}
}
