:root {
	/*fonts*/
	--RopaSPR: 'RopaSansPro-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	--RopaSPL: 'SourceSansPro-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

	/*colors*/
	--dark-gray: #333333;
	--light-gray: #999999;
	--pale-gray: #E6E6E6;
	--gray: #808080;
	--yellowBtn: #FCF267;
	--yellowBtn-hover: #FCEE21;
	--yellowBtn-active: #F4E400;
	--yellowLink: #CFC31B;
	--yellowLink-hover: #908600;
	--yellowLink-active: #6B6400;
}

@custom-media --mobile screen and (width >= 370px);
@custom-media --mobile-wide screen and (width >= 480px);
@custom-media --tablet screen and (width >= 768px);
@custom-media --laptop screen and (width >= 1025px);
@custom-media --desktop screen and (width >= 1200px);
@custom-media --wide screen and (width >= 1366px);
@custom-media --super screen and (width >= 1600px);