.callback-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 45px 30px 35px;
	background: white;
	box-shadow: 0 0 10px rgba(255, 255, 255, .5);

	@media (--tablet) {
		width: 55%;
	}

	@media (--laptop) {
		width: 42.17%;
		padding: 145px 100px 55px;
	}

	&__row {
		display: block;
		flex-grow: 1;
		margin-bottom: 35px;

		@media (--tablet) {
			margin-bottom: 70px;
		}
	}

	&__text {
		display: block;
		margin-bottom: 25px;
		font: 18px/24px var(--RopaSPR);
		color: var(--dark-gray);

		@media (--tablet) {
			margin-bottom: 50px;
		}
	}

	&__field {
		display: block;
		width: 100%;
		height: 30px;
		font: 18px var(--RopaSPR);
		color: var(--gray);
		border-bottom: 1px solid var(--pale-gray);
		transition: 300ms;

		&:focus {
			border-color: var(--gray);
		}

		&._mistake {
			border-color: #FF0000;
		}
	}

	&__submit {
		flex-grow: 1;
		margin-bottom: 45px;

		@media (--tablet) {
			margin-bottom: 110px;
		}
	}

	&__personal-data {
		font: 12px/20px var(--RopaSPL);
		color: var(--gray);

		@media (--tablet) {
			font-size: 14px;
			line-height: 26px;
		}
	}
}